*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
/* HEADER */
/* Navbar */
.logo-img{
    width: 30px;
    height: 100%;
}
.logo-name{
    color: red;
}

/* INDEX - SECTION */
.section_img {
    height: 50vh;
}

/* FOOTER */
.copyright{
    background-color: black;
}

/* PAGE - SUSCRIPCION */
.sus-titulo {
    background-image: url(../multimedia/img/Background-League-Of-Legends.jpg);
    background-position: center;
    background-size: cover;
}
/* PRECIOS */
.precios__free{
    background-color: rgb(114, 148, 243);
}
.precios__basic{
    background-color: rgb(196, 190, 190);
}
.precios__premium{
    background-color: rgb(197, 177, 64);
}
/* PRECIOS */

/* PAGE - FORMULARIO */
.formulario{
    color: white;
    background-image: url(../multimedia/img/contacto_background.jpg);
    background-size: cover;
    background-position: center;
}
.formulario__container {
    width: 50vw;
    background-color: rgb(0, 0, 0, 0.6)
}
/* PAGE - FORMULARIO */

/* PAGE - DOWNLOAD */
.download{
    /* width: 50vw; */
}
/* PAGE - DOWNLOAD */

/* MEDIA QUERIES */
@media (max-width: 580px) {
    .precios{
        display: flex;
        flex-direction: column;
    }
    .card{
        margin: 10px;
    }
    .formulario__container{
        width: 100vw;
    }
}