*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
/* HEADER */
/* Navbar */
.logo-img{
    width: 30px;
    height: 100%;
}
.logo-name{
    color: red;
}

/* INDEX - SECTION */
.section_img {
    height: 50vh;
}

/* FOOTER */
.copyright{
    background-color: black;
}

/* PAGE - SUSCRIPCION */
.sus-titulo {
    background-image: url(../multimedia/img/Background-League-Of-Legends.jpg);
    background-position: center;
    background-size: cover;
}
/* PRECIOS */
.precios__basic{
    background-color: rgb(114, 148, 243);
}
.precios__pro{
    background-color: rgb(196, 190, 190);
}
.precios__ultra{
    background-color: rgb(197, 177, 64);
}
/* PRECIOS */

/* PAGE - FORMULARIO */
.formulario{
    color: white;
    background-image: url(../multimedia/img/contacto_background.jpg);
    background-size: cover;
    background-position: center;
}
.formulario__container {
    width: 50vw;
    background-color: rgb(0, 0, 0, 0.6)
}
/* PAGE - FORMULARIO */

/* PAGE - JUEGOS */
.juegos-banner{
    background-image: url(../multimedia/img/fortnite.jpg);
    background-size: cover;
    background-position: top;
    height: 700px;
}
/* section - catalogo */
.catalogo__img{
    object-fit: contain;
}
.color-Basic{
    background-color: rgb(114, 148, 243);
    color: white;
}
.color-Pro{
    background-color: rgb(196, 190, 190);
    color: white;
}
.color-Ultra{
    background-color: rgb(197, 177, 64);
    color: white;
}

/* PAGE - JUEGOS */

/* MEDIA QUERIES */
@media (max-width: 576px) {
    /* PAGINA - SUSCRIPCIONES */
    .precios{
        display: flex;
        flex-direction: column;
    }
    .precios__card{
        margin: 10px;
    }
    /* PAGINA - CONTACTANOS */
    .formulario__container{
        width: 100vw;
    }
    /* PAGINA DOWNLOAD */
    .download{
        display: flex;
        flex-direction: column;
    }
    .download__android{
        margin: 10px;
    }
    .download__all{
        margin: 10px;
    }
}